.r4 {
  border-radius: 5px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.dark {
  background-image: linear-gradient(43deg, #6441a5 0%, #2a0845 100%);
}

.light {
  border-radius: 4;
  background-image: linear-gradient(43deg, #ffafbd 0%, #ffc3a0 100%);
}

@media only screen and (max-width: 500px) {
  .phonetics-container {
    display: block !important;
  }
}
